@import '../variables.scss';

$brand-color: #61dafb;

.root {
	height: $header-height;
	position: relative;
  background: #373277;
  background: $red-base;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding-top: 8px;
  max-width: $max-content-width;
}

.brand {
  color: lighten($brand-color, 10%);
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}

.hamburger {
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  cursor: pointer;
  margin: 1em;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.active .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
