@import '../variables.scss';

:local(.root) {
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: #373277;
  background: $red-base;
  color: #fff;
}

:local(.container) {
  margin: 0 auto;
  padding: 20px 0;
  max-width: $max-content-width;
  display: flex;
  justify-content: space-around;

}

.container button:disabled {
	color: $red-base;
}

button {
  background: none;
  border: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
button svg {
  margin: 0 0 5px 0;
}
